#title_related {
	line-height: 10px;
	text-align: center;
	font-size: 2rem;
}
.link_related {

}
.related_text {
	color: #000000;
}
#row-image-related > .link-related > .related-4  {
	width: 20%;
	margin-left: 1%;
	float:left;
	max-height: 190px;
	margin-bottom: 20px;
}
#row-image-related{
	width: 100%;
	clear:both;
	margin-left: none;
	margin-right:none;
	margin-top: 30px;
	margin-bottom: 30px;
}
#social-fellow-menu-bar{
	float:right;
}